:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --accent: #2196F3;
    --white: #FFFFFF;
    --secondary-background: #F5F5F5;
    --additional-background: #2F303A;
    --additional-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --different-background: #F5F4FA;
    --color-svg-clients: #AFB1B8;
}