.benefits {
    &__list {
        // display: flex;
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
        @media screen and (min-width: $desktop) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        
        
        @media screen and (min-width: $tablet) {
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }
    
    &__item:not(:last-child) {
        // margin-right: 30px;
        @media screen and (max-width: 767px) {
            margin-bottom: 30px; 
        }
    }
    
    &__icon {
        height: 120px;
        background-color: var(--different-background);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    &__title-text {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-color);
        margin-bottom: 10px;
        @media screen and (min-width: $tablet) {
            text-align: left; 
        }
    }
    
    &__text {
        width: 450px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-color);

        @media screen and (min-width: $tablet) {
            width: 354px;
        }

        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }
}