.clients {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: var(--main-color);
        // text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        padding-top: 94px;
    }
    
    &__link {
        display: flex;
        width: 170px;
        height: 92px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-svg-clients);
        border-radius: 4px;
        color: var(--color-svg-clients);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link:hover, &__link:focus {
        color: var(--accent);
        border: 1px solid var(--accent);
    }
    
    &__icon {
        padding: 16px, 32px;
        fill: currentColor;
    }
    
    &__list {
        margin-bottom: 94px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        calc((100% - 30px) / 2);
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;
    }
}