.team {
    background-color: var(--different-background);

    &__icon, .icon {
        fill: currentColor;
    }
    
    &__title--margin {
        margin-bottom: 30px;

        @media screen and (min-width: $desktop) {
            margin-bottom: 50px;
        }
    }
    
    &--flex {
        // display: flex;
    }
    
    &__title-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--main-color);
        margin-bottom: 10px;
        text-align: center;
    }
    
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
        text-align: center;
        margin-bottom: 16px;
    }
    
    &__name--padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 16px;
        list-style: none;
    }
    
    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: #AFB1B8;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__item:not(:last-child) {
        margin-right: 10px;
    }
    
    &__link:hover, &__link:focus {
        background-color: var(--accent);
        color: var(--white);
    }
    
    &__employee {
        background-color: var(--white);
    }
    
    &__employee--margin:not(:last-child) {
        // margin-right: 30px;
    }

    &__img {
        width: 450px;

        @media screen and (min-width: $tablet) {
            width: 354px;
        }

        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }
}