.logo {
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.close-svg {
    display: flex;
    width: 18px;
    height: 18px;
    background-color: var(--white);
}

textarea {
    resize: none;
    color: var(--secondary-color);
}

.text-accept {
    color: var(--accent);
    text-decoration: underline;
    margin-left: 7px;
}

.current {
    position: relative;

    color: var(--accent);
}

.current::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.img-container {
    display: flex;
    padding-bottom: 94px;
}

.address__link:hover, .address__link:focus {
    color: var(--accent);
}

.current-portfolio {
    position: relative;

    color: var(--accent);
}

.current-portfolio::after {
    position: absolute;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
}

.element-filter {
    flex-basis: calc((100% - 60px) / 3);
}

.container--flex {
    display: flex;
    align-items: baseline;
}

.img-team {
    width: 450px;

    
}